<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyiliteflow.liteflow.mapper.LfChainMapper">

    <resultMap type="com.ruoyiliteflow.liteflow.domain.LfChain" id="LfChainResult">
        <id     property="id"              column="id"               />
        <result property="applicationName" column="application_name" />
        <result property="chainName"       column="chain_name"       />
        <result property="chainDesc"       column="chain_desc"       />
        <result property="elData"          column="el_data"          />
        <result property="graphJson"       column="graph_json"       />
        <result property="enable"          column="enable"           />
        <result property="status"          column="status"           />
        <result property="draftFlag"       column="draft_flag"       />
        <result property="version"         column="version"          />
        <result property="contextClass"    column="context_class"    />
        <result property="routeEl"         column="route_el"         />
        <result property="namespace"       column="namespace"        />
        <result property="webhookUrl"      column="webhook_url"      />
        <result property="createBy"        column="create_by"        />
        <result property="createTime"      column="create_time"      />
        <result property="updateBy"        column="update_by"        />
        <result property="updateTime"      column="update_time"      />
        <result property="remark"          column="remark"           />
    </resultMap>

    <sql id="selectLfChainVo">
        select id, application_name, chain_name, chain_desc, el_data, graph_json, enable, status,
               draft_flag, version, context_class, route_el, namespace, webhook_url,
               create_by, create_time, update_by, update_time, remark
        from lf_chain
    </sql>

    <select id="selectLfChainList" parameterType="com.ruoyiliteflow.liteflow.domain.LfChain" resultMap="LfChainResult">
        <include refid="selectLfChainVo"/>
        <where>
            <if test="chainName != null and chainName != ''">
                AND chain_name like concat('%', #{chainName}, '%')
            </if>
            <if test="chainDesc != null and chainDesc != ''">
                AND chain_desc like concat('%', #{chainDesc}, '%')
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="applicationName != null and applicationName != ''">
                AND application_name = #{applicationName}
            </if>
        </where>
        order by id desc
    </select>

    <select id="selectLfChainById" parameterType="Long" resultMap="LfChainResult">
        <include refid="selectLfChainVo"/>
        where id = #{id}
    </select>

    <select id="selectLfChainByName" parameterType="String" resultMap="LfChainResult">
        <include refid="selectLfChainVo"/>
        where chain_name = #{chainName}
    </select>

    <insert id="insertLfChain" parameterType="com.ruoyiliteflow.liteflow.domain.LfChain" useGeneratedKeys="true" keyProperty="id">
        insert into lf_chain (
            application_name, chain_name, chain_desc, el_data, graph_json, enable, status,
            draft_flag, version, context_class, route_el, namespace, webhook_url, create_by, create_time, remark
        ) values (
            #{applicationName}, #{chainName}, #{chainDesc}, #{elData}, #{graphJson}, #{enable}, #{status},
            #{draftFlag}, #{version}, #{contextClass}, #{routeEl}, #{namespace}, #{webhookUrl}, #{createBy}, sysdate(), #{remark}
        )
    </insert>

    <update id="updateLfChain" parameterType="com.ruoyiliteflow.liteflow.domain.LfChain">
        update lf_chain
        <set>
            <if test="applicationName != null and applicationName != ''">application_name = #{applicationName},</if>
            <if test="chainName != null and chainName != ''">chain_name = #{chainName},</if>
            <if test="chainDesc != null">chain_desc = #{chainDesc},</if>
            <if test="elData != null and elData != ''">el_data = #{elData},</if>
            <if test="graphJson != null">graph_json = #{graphJson},</if>
            <if test="enable != null">enable = #{enable},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="draftFlag != null and draftFlag != ''">draft_flag = #{draftFlag},</if>
            <if test="version != null">version = #{version},</if>
            <if test="contextClass != null">context_class = #{contextClass},</if>
            <if test="routeEl != null">route_el = #{routeEl},</if>
            <if test="namespace != null">namespace = #{namespace},</if>
            <if test="webhookUrl != null">webhook_url = #{webhookUrl},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteLfChainById" parameterType="Long">
        delete from lf_chain where id = #{id}
    </delete>

    <delete id="deleteLfChainByIds" parameterType="Long">
        delete from lf_chain where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
